<div class="accordion" id="accordionList">
    <div *ngFor="let user of users | async; index as i; first as isFirst" class="card">
      <div class="card-header" [attr.id]="user.name">
        <h5 class="mb-0">
          <button (click)="select(user)" class="btn btn-link collapsed" type="button" data-toggle="collapse" [attr.data-target]="'#' + collapse(i)" aria-expanded="false" [attr.aria-controls]="collapse(i)">
            {{ user.name }} / {{ user.email }}
          </button>
        </h5>
      </div>
  
      <div [attr.id]="collapse(i)" class="collapse" [attr.aria-labelledby]="header(i)" data-parent="#accordionList">
        <div class="card-body">
          <app-user-detail *ngIf="selectedUser" [user]="selectedUser"></app-user-detail>
        </div>
      </div>
    </div>
</div>  